.chats_container {
  display: flex;
  height: 100vh;
}

.chats_section {
  width: 20%;
  height: 100%;
  border-right: 1px solid lightgray;
  padding: 20px 20px;
  text-align: center;
  overflow: auto;
}

.chats_section::-webkit-scrollbar {
  width: 3px;
}

/* Track */
.chats_section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.chats_section::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

/* Handle on hover */
.chats_section::-webkit-scrollbar-thumb:hover {
  opacity: 0.7;
}

.chats_section > p {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.chats_section_button_container {
  padding: 20px 0px 40px 0px;
  border-bottom: 1px solid lightgray;
}

.chat_items {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.chat_item {
  padding: 10px 0px;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat_item > p {
  margin: 0;
}

.chat_item_delete_icon_container {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 10px;
}

.chat_item_active {
  background-color: lightgray;
  font-weight: bold;
}

.chat_item:hover {
  cursor: pointer;
  background-color: lightgray;
  font-weight: bold;
}

.user_info_icon_container {
  display: flex;
  gap: 15px;
}

.user_info_icon_container > p {
  font-size: 16px;
}

.user_input_section {
  width: 80%;
  padding: 20px 10px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.messages_section {
  height: 85%;
  overflow: auto;
}

.messages_section::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.messages_section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.messages_section::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

/* Handle on hover */
.messages_section::-webkit-scrollbar-thumb:hover {
  opacity: 0.7;
}

.inputs_section {
  height: 12%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.inputs_section_input_container {
  width: 90%;
}

.no_active_chat_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.no_active_chat_container > p {
  font-weight: bold;
  font-size: 20px;
}

.message_items {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 20px;
  padding: 0px 20px;
}

.message_item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding-bottom: 40px;
}

.message_item > p:first-child {
  width: 15%;
  margin: 0;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: bold;
}

.message_item > p:last-child {
  width: 85%;
  margin: 0;
  text-align: justify;
  font-size: 16px;
}

@media screen and (width < 1000px) {
  .user_input_section {
    width: 70%;
  }

  .chats_section {
    width: 30%;
  }
}
